.color-brownBlock {
    background-color: #A6806B;
}

.color-redBlock {
    background-color: #A61C1C;
}


@media (min-width: 540px) {

    .color-redBlock,
    .color-brownBlock {
        display: none;
    }
}

@media (min-width: 768px) {
    .color-brownBlock {
        display: block;
    }
}

@media (min-width: 992px) {
    .color-brownBlock {
        grid-area: brownBlock;
    }

    .color-redBlock {
        grid-area: redBlock;
        display: block;
    }
}

@media (min-width: 992px) {
    .color-brownBlock {
        -ms-grid-row: 3;
        -ms-grid-column: 4;
    }

    .color-redBlock {
        -ms-grid-row: 2;
        -ms-grid-column: 6;
    }
}