.brown-block {
    background-color: #A6806B;
}

.red-block {
    background-color: #A61C1C;
}


@media (min-width: 540px) {

    .red-block,
    .brown-block {
        display: none;
    }
}

@media (min-width: 768px) {
    .brown-block {
        display: block;
    }
}

@media (min-width: 992px) {
    .brown-block {
        grid-area: brownBlock;
    }

    .red-block {
        grid-area: redBlock;
        display: block;
    }
}

@media (min-width: 992px) {
    .brown-block {
        -ms-grid-row: 3;
        -ms-grid-column: 4;
    }

    .red-block {
        -ms-grid-row: 2;
        -ms-grid-column: 6;
    }
}