ul[class],
ol[class] {
  padding: 0;
  list-style: none;
}

html,
body {
  font-family: "Inter";
  font-style: normal;
  min-width: 320px;
}

*:focus {
  outline: #000 ridge 5px;
  border-radius: 2px;
  z-index: 1;
  padding: 2px;
}