.picture__img {
    -o-object-fit: cover;
    object-fit: cover;
    display: block;
    height: 100%;
    width: 100%;
    max-width: 100%;
    background-color: darkcyan;
}

@media (min-width: 540px) {

    .coffee-cup,
    .man {
        -ms-grid-column: 1;
        grid-column-start: 1;
    }

    .doorway {
        -ms-grid-row-span: 2;
        grid-row: span 2;
    }
}

@media (min-width: 768px) {
    .girl-in-a-hat {
        -ms-grid-column: 3;
        -ms-grid-column-span: 2;
        grid-column: 3/span 2;
    }

    .coffee-cup,
    .man {
        -ms-grid-column: inherit;
        grid-column-start: inherit;
    }

    .doorway {
        grid-row: inherit;
    }
}

@media (min-width: 992px) {
    .girl-in-a-hat {
        grid-area: pic1;
        -ms-grid-row: 1;
        -ms-grid-row-span: 2;
        -ms-grid-column: 3;
        -ms-grid-column-span: 2;
    }

    .curly-girl {
        grid-area: pic2;
        -ms-grid-row: 1;
        -ms-grid-column: 5;
    }

    .girl-in-a-dress {
        grid-area: pic3;
        -ms-grid-row: 1;
        -ms-grid-column: 6;
    }

    .coffee-cup {
        grid-area: pic4;
        -ms-grid-row: 3;
        -ms-grid-column: 3;
    }

    .doorway {
        grid-area: pic5;
        -ms-grid-row: 2;
        -ms-grid-row-span: 2;
        -ms-grid-column: 5;
    }

    .man {
        grid-area: pic6;
        -ms-grid-row: 3;
        -ms-grid-column: 6;
    }
}