.picture__img {
    -o-object-fit: cover;
    object-fit: cover;
    display: block;
    height: 100%;
    width: 100%;
    max-width: 100%;
    background-color: darkcyan;
}

@media (min-width: 540px) {

    .picture-4,
    .picture-6 {
        -ms-grid-column: 1;
        grid-column-start: 1;
    }

    .picture-5 {
        -ms-grid-row-span: 2;
        grid-row: span 2;
    }
}

@media (min-width: 768px) {
    .picture-1 {
        -ms-grid-column: 3;
        -ms-grid-column-span: 2;
        grid-column: 3/span 2;
    }

    .picture-4,
    .picture-6 {
        -ms-grid-column: inherit;
        grid-column-start: inherit;
    }

    .picture-5 {
        grid-row: inherit;
    }
}

@media (min-width: 992px) {
    .picture-1 {
        grid-area: pic1;
        -ms-grid-row: 1;
        -ms-grid-row-span: 2;
        -ms-grid-column: 3;
        -ms-grid-column-span: 2;
    }

    .picture-2 {
        grid-area: pic2;
        -ms-grid-row: 1;
        -ms-grid-column: 5;
    }

    .picture-3 {
        grid-area: pic3;
        -ms-grid-row: 1;
        -ms-grid-column: 6;
    }

    .picture-4 {
        grid-area: pic4;
        -ms-grid-row: 3;
        -ms-grid-column: 3;
    }

    .picture-5 {
        grid-area: pic5;
        -ms-grid-row: 2;
        -ms-grid-row-span: 2;
        -ms-grid-column: 5;
    }

    .picture-6 {
        grid-area: pic6;
        -ms-grid-row: 3;
        -ms-grid-column: 6;
    }
}